.login{
    height: calc(100vh - 70px);
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginContainer{
    /* position: relative; */
    height: 100%;
    width: 100%;
    display: flex;
    background-image: url("login.jpg");
    background-size: cover;
}
.loginSec{
    /* position: absolute; */
    margin: 50px auto 100px;
    padding: 50px 150px;
    background-image: url("login.jpg");
    background-size: cover;
    border-radius: 10px;
    /* z-index: 1; */
}
/* .transparent{
    opacity: 0.5;
} */
.loginTitle{
    font-size: 50px;
}
.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.loginForm > label{
    margin: 10px 0;
    font-weight: 600;
}
.loginInput{
    padding: 10px;
    background-color: beige;
    border: none;
}
.loginBut{
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: #ff004f;
    color: white;
    font-weight: 600;
    border-radius: 10px;
}
.loginRegisBut{
    position: absolute;
    top: 60px;
    right: 20px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(2, 195, 195);
    border-radius: 10px;
    border: none;
}
.toRegister{
    color: black;
    font-weight: 600;
}