#reviews {
  padding: 0px 0px;
  color: #ababab;
  top: 260px;
}

.reviewsSec {
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.reviewsTitle {
  margin: 20px auto;
}

.reviewsTitle span {
  padding: 5px;
  font-size: 30px;
  border-radius: 5px;
  background-color: #ababab;
}

.reviewsContainer {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.reviewsSlide {
  width: 330px;
  margin: 20px auto;
  border-radius: 4px;
  border: 1px solid rgb(255, 239, 239);
}

.reviewsComment {
  padding: 1.5rem;
  background: lightgray;
  border-radius: .4rem;
  line-height: 2;
  position: relative;
  z-index: 0;
  margin-bottom: 2.8rem;
}
.reviewsComment::before{
  content: '';
  position: absolute;
  bottom: -1.5rem; left: .7rem;
  height: 3.2rem;
  width: 3rem;
  transform: rotate(50deg);
  background: lightgray;
}

.reviewsUser{
  display: flex;
  align-items: center;
  gap: 16px;
}
.reviewsUser img{
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}
.reviewsUser h3{
  font-size: 2rem;
}
.reviewsSlide span{
  color: rgba(2, 128, 2, 0.926);
}

.reviewsSlide button {
  margin: 10px auto;
  padding: 4px;
  border-radius: 4px;
  color: white;
  background-color: black;
}

@media (max-width: 650px) {
  .reviewsTitle span {
    margin-left: 1px;
    font-size: 18px;
  }
}