#blog {
    padding: 0px 0px;
    color: #ababab;
    top: 260px;
  }
  
  .blogSec {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  
  .blogTitle {
    margin: 20px auto;
  }
  
  .blogTitle span {
    padding: 5px;
    font-size: 30px;
    border-radius: 5px;
    background-color: #ababab;
  }
  
  .blogContainer {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .blogSlide {
    width: 350px;
    margin: 20px 40px;
    text-align: center;
    border-radius: 4px;
  }
  .blogSlideIcon{
    margin: -15px 50px 0;
    padding: 10px;
    justify-content: space-between;
    border-radius: 4px;
    background-color: rgb(1, 96, 1);
    position: relative;
  }
  .blogSlideIcon span{
    color: rgb(1, 96, 1);
  }
  .blogSlideIcon a{
    font-size: 12px;
    color: white;
  }
  .blogSlideIcon i{
  color: rgb(0, 210, 0);
  }
  
  .blogSlideIcon a{
    cursor: default;
  }
  .blogSlide img {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }
  
  .blogSlide h3 {
    margin-top: 10px;
  }
  
  .blogSlide p {
    margin-top: 10px;
    line-height: 2;
  }
  
  .blogSlide button {
    margin: 10px auto;
    padding: 5px;
    border-radius: 4px;
    color: white;
    background-color: black;
  }
  
  .toblog {
    margin: 20px 0;
    text-align: center;
  }
  
  .toblog button {
    padding: 8px;
    color: black;
    font-weight: 600;
    background-color: rgb(254, 241, 241);
    cursor: pointer;
  }
  
  .toblog button:hover {
    background-color: black;
    color: white;
  }

  @media (max-width: 650px) {
    .blogTitle span {
      margin-left: 1px;
      font-size: 18px;
    }
  }