@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: Poppins, sans-serif;
}

body{
    background: rgba(239, 236, 236, 0.975);
    color: #081b29;
    overflow: hidden;
    overflow-y: scroll;
}