.shop {
  padding: 0px 0px;
  top: 260px;
}

.shopSec {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.shopTitle {
  margin: 20px auto;
}

.shopTitle span {
  padding: 5px;
  /* margin-left: 5px; */
  font-size: 30px;
  border-radius: 5px;
  background-color: #ababab;
}

.shopContainer {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shopSlide {
  width: 250px;
  margin: 20px 40px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid black;
}

.shopSlide:hover {
  box-shadow: 0 16px 32px gray;
}

.shopImage {
  position: relative;
  height: 250px;
  width: 250px;
  border-bottom: 1px solid black;
  overflow: hidden;
}

.shopImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.shopImageIcons {
  position: absolute;
  width: 100%;
  height: 120%;
  bottom: 0;
  text-align: center;
  z-index: 10;
  transform: translateY(0);
}

.shopSlide .shopImage .shopImageIcons:hover {
  transform: translateY(30px);
  padding-top: 170px;
}

.shopImageIcons a {
  margin-left: 5px;
  font-size: 15px;
  background-color: #ddd;
  color: black;
}

.shopImageIcons i {
  padding: 10px;
  margin-top: 10px;
}

.shopImageIcons a:hover {
  background-color: black;
  color: white;
}

.shopContent {
  display: flex;
  flex-direction: column;
}

.shopContent h3 {
  margin-top: 10px;
}

.shopContent p {
  margin-top: 5px;
}

.shopContent button {
  margin: 10px auto;
  padding: 4px;
  border-radius: 4px;
  color: white;
  background-color: black;
}

.tohome {
  margin: 20px 0;
  text-align: center;
}

.tohome button {
  padding: 8px;
  color: black;
  font-weight: 600;
  background-color: rgb(254, 241, 241);
  cursor: pointer;
}

.tohome button:hover {
  background-color: black;
  color: white;
}

@media (max-width: 650px) {
  .shopTitle span {
    margin-left: 1px;
    font-size: 18px;
  }
}