#category {
  padding: 0px 0px;
  color: #ababab;
  top: 260px;
}

.categorySec {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.categoryTitle {
  margin: 20px auto;
}

.categoryTitle span {
  padding: 5px;
  font-size: 30px;
  border-radius: 5px;
  background-color: #ababab;
}

.categoryContainer {
  margin: 10px 100px;
  display: flex;
  gap: 55px;
  /* border: 1px solid #0b0b11; */
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  border-radius: 4px;
  overflow-x: scroll;
}

.categorySlide {
  width: 240px;
  margin: 25px auto;
  text-align: center;
  /* background-color: red; */
}

.categorySlide:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
  transition: all 0.3s ease;
  cursor: pointer;
}

.categorySlide:first-child {
  margin-left: 30px;
}

.categorySlide:last-child {
  margin-right: 30px;
}

.categorySlide img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

.categorySlide h3 {
  margin-top: 15px;
}

.categorySlide p {
  margin-top: 15px;
}

.categorySlide button {
  margin-top: 15px;
  padding: 8px;
  border-radius: 4px;
}

.categorySlide button:hover {
  color: white;
  background-color: black;
}
@media (max-width: 650px) {
  .categoryTitle span {
    font-size: 24px;
  }
}