#post {
  padding: 0px 0px;
  color: #ababab;
  top: 260px;
}

.postSec {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.postTitle {
  margin: 20px auto;
}

.postTitle span {
  padding: 5px;
  font-size: 30px;
  border-radius: 5px;
  background-color: #ababab;
}

.postContainer {
  margin: 10px 100px;
  display: flex;
  gap: 55px;
  /* border: 1px solid #0b0b11; */
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  border-radius: 4px;
  overflow-x: scroll;
}

.postSlide {
  width: 300px;
  margin: 15px auto;
  text-align: center;
  border-radius: 4px;
}

.postSlide:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
  transition: all 0.3s ease;
  cursor: pointer;
}

.postSlide:first-child {
  margin-left: 30px;
}

.postSlide:last-child {
  margin-right: 30px;
}

.postSlideIcon {
  margin: -15px 30px 0;
  padding: 10px 0px;
  border-radius: 4px;
  background-color: rgb(1, 96, 1);
  position: relative;
}

.postSlideIcon a {
  width: 100%;
  font-size: 12px;
  cursor: default;
  color: white;
}

.postSlideIcon span {
  color: rgb(1, 96, 1);
}

.postSlideIcon i {
  color: rgb(0, 210, 0);
}

.postSlide img {
  height: 250px;
  width: 300px;
  object-fit: cover;
}

.postSlide h3 {
  margin-top: 10px;
}

.postSlide p {
  margin-top: 10px;
  line-height: 2;
}

.postSlide button {
  margin: 10px auto;
  padding: 5px;
  border-radius: 4px;
  color: white;
  background-color: black;
}

.toblog {
  margin: 20px 0;
  text-align: center;
}

.toblog button {
  padding: 8px;
  color: black;
  font-weight: 600;
  background-color: rgb(254, 241, 241);
  cursor: pointer;
}

.toblog button:hover {
  background-color: black;
  color: white;
}

@media (max-width: 750px) {
  .postTitle span {
    font-size: 24px;
  }

  .postContainer {
    margin: 10px 50px;
  }

  .postSlide:first-child {
    margin-left: 20px;
  }
  
  .postSlide:last-child {
    margin-right: 20px;
  }
}